<div *ngIf="anime" class="container">
    <button type="button" class="btn btn-outline-primary me-2" (click)="onBackClick()">Back</button>
    <div class="w-full mt-2 row" >
        <div class="col-lg-3"><img class="mb-1 mt-2 mx-auto h-[600px]" [src] = "anime.image" /></div>
        <div  class = "flex col-lg-6">
            <div class="row">
                <h2>{{anime.name}}</h2>
                <span>{{anime.description}}</span>
            </div>
            <div class="row mt-2 mx-auto">
                <mat-card *ngIf="isAnimeAdded; else addAnimeCard" class="text-center">
                    <div class="w-full" >
                        <span>Display next to watch details</span>
                        <button class="btn shadow-none mb-2 mx-auto">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                </mat-card>
                <ng-template #addAnimeCard>
                    <mat-card class="text-center">
                        <div class="w-full" >
                            <span> Add Anime to your Watchlist</span>
                            <button (click)="onAddButtonClick()" class="btn shadow-none mb-2 mx-auto">
                                <mat-icon>add_circle_outline</mat-icon>
                            </button>
                        </div>
                    </mat-card>
                </ng-template>
            </div> 
        </div>
    </div>
    <div *ngIf="isAnimeAdded" class = "mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Episode no</th>
                    <th>Episode name</th>
                    <th>Episode watched ?</th>
                </tr>
            </thead>
            <tbody *ngIf="episodeList">
                <tr *ngFor="let episode of episodeList">
                    <td>{{episode.episode_no}}</td>
                    <td>{{episode.name}}</td>
                    <td>
                        <div class="justify-content-center" *ngIf="checkIfWatched(episode.episode_id); else AddButtonTemplate ">
                            <mat-icon class="material-icons color_green">check_circle_outline</mat-icon>
                        </div>
                        <ng-template #AddButtonTemplate>
                            <button (click)="addEpisodeButton(episode.episode_id)" class="btn shadow-none mb-2">
                                <mat-icon>add_circle_outline</mat-icon>
                            </button>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
