<app-navbar></app-navbar>
<div class="container">
    <div class="flex-wrap w-full row">
        <div class="col-lg-6">
            <mat-card class="m-3">
            <table class="m-3">
                <tr>
                    <td><h4>Username</h4></td>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <td><h4>Fullname</h4></td>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <td><h4>Email</h4></td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td><h4>Date of Birth</h4></td>
                    <td>{{user.dob}}</td>
                </tr>
            </table>
            </mat-card>
        </div>
        <div class="col-lg-6">
            <button class= "btn btn-primary" (click)="activateEditForm()">Edit</button>
            <div *ngIf="editForm">
            <form class="m-2" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input type="text" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }" />
                    <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
                        <div *ngIf="f['fullname'].errors?.['required']">Full Name is required</div>
                        <div *ngIf="f['fullname'].errors?.['maxLength']">Full Name can be only 40 characters</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors?.['required']">Email is required</div>
                        <div *ngIf="f['email'].errors?.['email']">Enter a Valid Email</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Date of Birth</label>
                    <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" />
                    <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
                        <div *ngIf="f['dob'].errors?.['required']">Date of Birth is required</div>
                    </div>
                </div>
            
                <div>
                    <button class="btn btn-primary">
                        Update
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
